.app.dark {
    --bg-color: #1d1e26;
    --inverted-bg-color: #1f2533;
    --main-color: #6362e7;
    --main-color-light: #1d1e26;
    --hovered-main-color: #4f4eb9;
    --disabled-main-color: #9191ec;
    --inverted-main-color: #fff;
    --hovered-inverted-main-color: #e8e8e8;
    --secondary-color: rgb(255 255 255 / 60%);
    --inverted-secondary-color: rgb(255 255 255 / 60%);
}
