.app.default {
    --bg-color: #e3e3f3;
    --inverted-bg-color: #fff;
    --main-color: #6362e7;
    --main-color-light: rgb(244 246 253);
    --hovered-main-color: #4f4eb9;
    --disabled-main-color: #9191ec;
    --inverted-main-color: #fff;
    --hovered-inverted-main-color: #e8e8e8;
    --secondary-color: #2c323f;
    --inverted-secondary-color: #f4f6fd;
}
