.app {
    border: 1px solid green;
}

.page_wrap {
    display: flex;

    .wrap_content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .page_content {
            flex-grow: 1;
            padding: 2rem;
        }
    }
}
