.header {
    width: 100%;
    background: var(--inverted-bg-color);
    padding: 1rem 2.5rem;
    display: flex;
    justify-content: space-between;

    .toggle_button {
        padding: 0.25rem;
    }

    .customizers {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: left;
    }
}
