@import "app/styles/reset";
@import "app/styles/variables/global";
@import "app/styles/themes/default";
@import "app/styles/themes/dark";

.app {
    background: var(--bg-color);
    color: var(--main-color);
    font: var(--font-m);
    min-height: 100vh;
}
